body{
    font-family: 'Orbitron', sans-serif;
    font-weight: 100;
    background-image: url('../images/blue-and-white-milky-way.jpg'); /*TODO shrink this image so it doesn't take so long to load*/
}

h1, h2, h3{
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    margin: 10px;;
    color: white;
}

h3{
    margin-bottom: 50px;
}

p{
    font-size: 24px;
}

.content{
    color: white;
    background: black;
    border: white solid 2px;
}

#hud-fuel-warning{
    display: none;
    border: red dashed 2px;
    color: red;
    float: left;
}

#hud-game-over{
    display: none;
    border: red dashed 2px;
    color: red;
    float: left;
}

#hud-win{
    display: none;
    border: green dashed 2px;
    color: green;
    float: left;
}

#hidden-word{
    margin: 0px;
}